{:deps     true
 :dev-http {8000 "public"}
 :builds   {:app {:target  :browser
                  :modules {:main {:entries [maze.main]
                                   :init-fn maze.main/init}}}}
 :nrepl    {:port 9000}}
